<form class="container d-flex justify-content-center" [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
  <div class="col-12 d-flex flex-wrap">
    <div class="col-12">
      <fieldset class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" formControlName="name" class="form-control" id="name" aria-describedby="nameHelp">
      </fieldset>
      <fieldset class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" formControlName="description" class="form-control" id="description" rows="3"></textarea>
      </fieldset>
      <fieldset class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input (change)="uploadImage($event)" accept="image/png, image/gif, image/jpeg" class="form-control" type="file" id="image">
      </fieldset>
      <img [src]="image" class="col-12" [alt]="recipeService.recipe.value.name">
    </div>
    <div class="col-12 mt-3">
      <button type="button" class="btn btn-success" (click)="addIngredient()">
        <i class="bi bi-plus-lg"></i>
      </button>
      Ingredients:
      <div class="d-flex justify-content-between flex-wrap col-12">
        <fieldset class="d-flex justify-content-around flex-wrap border rounded p-3 mb-3 col-12 col-sm-6 col-md-7
        col-lg-5 mt-3" *ngFor="let ingredient of ingredients.controls; index as i">
          <ng-container [formGroup]="ingredient">
              <div class="col-6 me-1">
                <label for="name" class="form-label">Name:</label>
                <input type="text" name="name" formControlName="name" class="form-control" aria-describedby="nameHelp">
              </div>
              <div class="col-3">
                <label for="name" class="form-label">Amount:</label>
                <input type="number" name="name" min="0" formControlName="amount" class="form-control" aria-describedby="amountHelp">
              </div>
            <div class="col-1 d-flex">
              <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">
                <i class="bi bi-x"></i>
              </button>
            </div>
          </ng-container>
        </fieldset>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">{{isEdit ?'Edit' :'Add'}}</button>
    </div>
  </div>
</form>
