<div class="container">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading">
            <fieldset>
                <div class="mb-3 w-100">
                    <label for="email">Email:</label>  
                    <input ngModel name="email" id="email" type="email" class="form-control" 
                    required email minlength="8">
                </div>
                <div class="w-100">
                    <label for="password">Password:</label>
                    <input ngModel name="password" id="password" type="password" class="form-control" 
                    minlength="8" required>
                </div> 
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary mt-3">
                    {{isLogin ? 'Login' : 'Sign Up'}}
                </button>        
            </fieldset>
        </form>
        <button *ngIf="!isLoading" (click)="switchMode()" type="button" class="btn btn-info mt-3">
            Switch to {{!isLogin ? 'Login' : 'Sign Up'}}
        </button> 
    <loader *ngIf="isLoading"></loader>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
</div>
