<img src="{{ recipe.image }}" alt="{{ recipe.name }} image" />
<h3>{{ recipe.name }}</h3>
<p>{{ recipe.description }}</p>
<ul class="list-group list-group-flush" >
  <li class="list-group-item" *ngFor="let ingridient of recipe.ingridients">
    {{ingridient.name}} ({{ingridient.amount}})
  </li>
</ul>
<div class="btn-group me-3">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary bg-primary text-light" ngbDropdownToggle>Change recipe</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button ngbDropdownItem (click)="shopIngridient()">Go to shopping list</button>
        <button ngbDropdownItem routerLink="edit">Edit recipe</button>
        <button ngbDropdownItem (click)="deleteRecipe()">Delete recipe</button>
      </div>
    </div>
  </div>
