<div class="container">
    <button class="btn btn-success" [routerLink]="['/recipes-list','new']">New Recipe</button>
    <div class="d-flex">
        <div class="col-md-5 col-xs-12">
            <app-recipe-item *ngFor ='let recipe of recipes' 
            [recipe]="recipe" [routerLink]="['/recipes-list', recipe.id, recipe.name]">
            </app-recipe-item>
        </div>
        <div class="col-md-7 col-xs-12">
            <router-outlet></router-outlet>
        </div>
        <ng-template>
            <div>Please, select recipe!</div>
        </ng-template>
    </div>
</div>
